<div class="container center-block">

  <h1>Shorten your URL!</h1>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <p>Paste in your long URL and we will give you a short one you can use! </p>
    </div>
  </div>

  <div class="row center-block">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for(@new_url, url: shortener_path) do |f|%>
        <div class="form-group">
          <%= f.hidden_field :small_url, :value => UrlShortener.new.url %>
          <%= f.text_field (:original_url), class: "form-control" %>
        </div>
        <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
        Shorten your URL!
        <% end %>
      <% end %>
    </div>
  </div>

  <% if @user_last_url %>
    <%= flash[:notice] = render 'url' %>
  <%end%>

</div>
